pandas
numpy
requests
beautifulsoup4
lxml
tqdm
ipython
jupyter
notebook
ipywidgets
torch
sentence-transformers
chromadb
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-ollama
